{% extends "vege/base.html" %}
{% block start %}
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Receipe</h2>
            <hr>
            <div class="mb-3">
                <label class="form-label">Receipe name</label>
                <input name="receipe_name" value ="{{receipe.receipe_name}}"class="form-control">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Receipe descriptions</label>
                <textarea class="form-control" name="receipe_description">{{receipe.receipe_description}}</textarea>
            </div>

            <div class="mb-3">
                <label for="form-check-label" class="form-label">Choose Receipe Image</label>
                <input name="receipe_image" type="file" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Update Recepie</button>
        </form>
        
    
    </div>
{% endblock start %}
